@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color1: #1a1a1f;

  --color2: #213a57;
  --color3: #0b6477;
  --color4: #14919b;
  --color5: #0ad1c8;
  --color6: #45dfb1;
  --color7: #80ed99;

}

header {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  display: none;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
}
header .title {
  font-weight: 700;
  font-size: 40px;
  margin-left: 100px;
  color: var(--color5);
  text-shadow: var(--color5) 0px 0px 10px;
}
header div ul {
  padding-right: 100px;
}
header div ul li {
  font-size: 13px;
}
header div ul li .link {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}
header div ul li .link:hover {
  color: var(--color6);
}
/* ===header==================================================================================================== */
/* ===section1==================================================================================================== */

.section {
  padding-top: 6em;
  background-color: var(--color1);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.Profile {
  background-image: url(images/p1.jpg);
  background-repeat: no-repeat;
  height: calc(50vw - 100px);
  width: calc(50vw - 100px);
  background-size: cover;
  overflow: hidden;
  border-radius: 99999px;
  box-shadow: 0px 0px 9px 9px var(--color4),
    0px 0px 20px 1px var(--color5) inset,
    0px 0px 30px 2px var(--color2) inset;
}

.section .Hello {
  color: var(--color5);
  font-size: calc(10px + 10vw);
  text-shadow: 0px 0px 30px var(--color5);
  text-transform: uppercase;
}
.section h3 p {
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  text-shadow: 0px 0px 30px #fff;
  line-height: 40px;
}


.section .info {
  padding-top: 3em;
}
@media (width <= 527px) {
  .Profile{
    width: 90VW;
    height: 90vw;
  }
  
}
/* ===section1==================================================================================================== */
